name: Build & Push Docker Image to ACR (Windows, OIDC)

on:
  push:
    branches:
      - master  # This triggers the workflow only on changes to the master branch

jobs:
  build:
    runs-on: windows-latest
    permissions:
      id-token: write      # REQUIRED for OIDC
      contents: read

    env:
      AZURE_CLIENT_ID:        ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID:        ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID:  ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ACR_NAME:               ${{ secrets.AZURE_ACR_NAME }}

      IMAGE_NAME:   hello-aspnet48
      IMAGE_TAG_SHA: ${{ github.sha }}
      IMAGE_LATEST: latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # DNS check for ACR (optional)
      - name: DNS check for ACR (optional)
        shell: powershell
        run: |
          $fqdn = "$($env:ACR_NAME).azurecr.io"
          Write-Host "Testing DNS for $fqdn"
          try {
            Resolve-DnsName $fqdn -ErrorAction Stop | Format-Table
          } catch {
            Write-Warning "DNS resolution failed fo
